<launch>

  <!-- Tezos listener -->
  <include file="$(find robonomics_tz)/launch/listener.launch" />

  <!-- MAVROS SOLO instance -->
  <include file="$(find mavros)/launch/apm.launch">
    <arg name="fcu_url" value="udp://0.0.0.0@10.1.1.10:14560"/>
  </include>

  <!-- Drone worker script -->
  <node pkg="robonomics_tz" type="tezos_drone" name="tezos_drone" output="screen" />

</launch>
